body {
  display: flex;
  flex-direction: column;
  font-family: $base-font;
  line-height: 1.2;
  height: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

main {
  flex: 1 0 auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  color: $text-color;

  li {
    font-size: 15px;
    line-height: 200%;

    @include media-breakpoint-down(sm) {
      font-size: 15px;
      line-height: 20px;
    } 
  }
}

img {
  max-width: 100%;
}

button,
a {
  cursor: pointer;
  transition: $transition;
  text-decoration: none;
  outline: none;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

input {
  outline: none;
}

textarea {
  outline: none;
  resize: none;
}

p {
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: $text-color;
  font-family: $base-font;

  @include media-breakpoint-down(sm) {
    font-size: 15px;
    line-height: 20px;
  }
}

.container {
  width: 1200px;
  max-width: 100%;
  padding: 0 30px;

  &-fluid {
    padding: 0 30px;
  }

  &.container-small {
    width: 990px;
  }

  @media (max-width: 767px) {
    padding: 0 15px;

    &-fluid {
      padding: 0 15px;
    }
  }
}

.section {
  padding: 100px 0;

  @include media-breakpoint-down(md) {
    padding: 50px 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 30px 0;
  }
}

.title {
  font-size: 34px;
  line-height: 150%;
  font-weight: 800;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $text-color;
  text-align: center;
}

.absolute-block {
  position: absolute;
  font-weight: 900;
  font-size: 160px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #9e9e9e;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.home-page {
  section {
    &:nth-of-type(odd) {
      background: #EDEEEF;
    }
  }
}

.modal-backdrop.show {
  opacity: 0.7;
}