.footer-content {
  padding: 20px 0 47px 0;
  background: #3D3D3D;

  @include media-breakpoint-down(sm) {
    padding: 20px 0;
  }

  .tel-box, .address-box {
    justify-content: flex-end;

    @include media-breakpoint-down(sm) {
      justify-content: center;
    }
  }

  .desc,
  .tel__icon,
  .address__icon,
  .address__text {
    color: $white;
  }

  .address__icon,
  .tel__icon {
    border-color: $white;
  }

  .tel {
    a {
      color: $white;
    }
  }

  .social {
    justify-content: flex-end;

    @include media-breakpoint-down(sm) {
      margin: 20px auto;
      justify-content: center;
    }
  }
}

.footer-menu {
  padding: 10px 0;
  margin-bottom: 15px;

  @include media-breakpoint-down(sm) {
    display: none;
  }

  .menu {
    justify-content: flex-end;
  }
}