.header-top {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 8px 0;
  background: #4a4949;

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.lang {
  display: flex;
  list-style: none;

  .lang-item {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 3px 5px;
    display: flex;
    align-items: center;

    a {
      display: inline-block;
      color: $white;
      font-size: 14px;
      white-space: nowrap; /* Отменяем перенос текста */
      overflow: hidden; /* Обрезаем содержимое */
      width: 25px;
      letter-spacing: 0.5px;
    }
    &.current-lang {
      border-color: #DB3C6A;
    }

    &:hover {
      color: #DB3C6A;
    }

    &.lang-item-en {
      a {
        width: 26px;
      }
    }

    &.lang-item-ru {
      a {
        width: 24px;
      }
    }
  }
}

.header-bottom {
  padding: 20px 0 40px 0;
  background: #456d71;

  .desc-box {
    margin: -40px 0 0 40px;
    width: 225px;

    @include media-breakpoint-down(sm) {
      margin: 0 auto 20px auto;
      display: block;
      transform: rotate(0);
    }
  }

  .btn-action {
    display: block;
    box-shadow: none;
    max-width: 205px;
    margin: auto 0 20px auto;
    color: $white;
    text-align: center;
    transition: $transition;

    @include media-breakpoint-down(md) {
      margin: 20px auto;
    }

    &:last-child {
      margin: auto 0 auto auto;

      @include media-breakpoint-down(md) {
        margin: 20px auto;
      }
    }

    &:hover {
      background: transparent;
    }

    &.btn-light {
      &:hover {
        transition: $transition;
        background: linear-gradient(270deg, #20b1aa -3.12%, #00cccb 100%);
      }
    }
  }
}

.logo-box {
  @include media-breakpoint-down(md) {
    text-align: center;
  }

  .logo-link {
    margin-left: -55px;

    @include media-breakpoint-down(lg) {
      margin-left: 0;
    }
  }
}

.logo {
  max-width: 150px;
}

.desc {
  font-size: 16px;
  color: $text-color;
}

.tel-box,
.address-box {
  display: flex;
  align-items: center;

  @include media-breakpoint-down(md) {
    justify-content: center;
    margin-top: 15px;
    text-align: center;
  }

  .fa-phone {
    transform: rotate(90deg);
  }
}

.tel,
.address {
  &__icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $white;
    line-height: 28px;
    text-align: center;
    margin-right: 20px;
    color: $white;
    font-size: 12px;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  a,
  &__text {
    display: block;
    color: $white;
    font-weight: 800;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      color: #00cccb;
    }
  }
}

.desc-box {
  display: block;
  margin: -50px 0 0 40px;
  transform: rotate(-10deg);

  @include media-breakpoint-down(sm) {
    margin: 0 auto 20px auto;
    display: block;
    transform: rotate(0);
  }

  .desc {
    display: block;
    font-family: 'Aquarelle', arial;
    font-size: 30px;
    line-height: 23px;
    color: $white;

    &__end {
      margin: 0 0 0 25px;
    }
  }
}

.strong-view.default.slider-container.slider-adaptive:not(.slider-mode-horizontal) .wpmslider-viewport,
.strong-view.default .testimonial-inner {
  border: 0 !important;
}
