.btn,
.btn-action {
  border-radius: 79px;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.05em;
  color: $white;
  box-shadow: 0 8px 8px -4px $primary;
  text-transform: uppercase;
  border: 1px solid $primary;
  background: linear-gradient(270deg, #20b1aa -3.12%, #00cccb 100%);

  &:hover {
    color: $white;
    box-shadow: 0 8px 8px -8px $primary;
  }

  &.btn-light {
    background: transparent;
    border: 1px solid $primary;
    color: $primary;
  }

  .icon {
    font-size: 10px;
    margin-left: 5px;
  }
}

.btn-dark-light {
  background: rgba(70, 70, 67, 0.5);
  border-color: transparent;
  box-shadow: none;

  &:hover {
    color: $white;
    box-shadow: none;
  }
}