.error404 {
  .header-bottom,
  .index-slider,
  .write-our-section {
    display: none;
  }
}

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 78vh;
  background: {
    image:  url("../../assets/images/error.png");
    size: cover;
    repeat: no-repeat;
  };
}

.error-404 {
  text-align: center;

  h1 {
    color: $white;
    font-size: 50px;
  }

  .title {
    color: $white;
    text-transform: none;
    font-weight: normal;
    margin: 20px 0 40px 0;
  }
}