.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $dark-gray;
  z-index: 100000;
  transition: $transition;
}

.loader {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    color: $white;
    text-transform: uppercase;
    font-size: 40px;
    transition: $transition;
  }

  &__first,
  &__second,
  &__third {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: 1s linear infinite;
  }

  &__first {
    border-bottom: 3px solid #20b1aa;
    animation-name: first;
  }

  &__second {
    border-right: 3px solid #DB3C6A;
    animation-name: second;
  }

  &__third {
    border-top: 3px solid #00cccb;
    animation-name: third;
  }
}

@keyframes first {
  0% {transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);}
  100% {transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);}
}

@keyframes second {
  0% {transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);}
  100% {transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);}
}

@keyframes third {
  0% {transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);}
  100% {transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);}
}