.menu {
  display: flex;

  &.open {
    left: 0;
  }

  @include media-breakpoint-down(sm) {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: $dark-gray;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: $transition;
  }

  li {
    margin-left: 20px;

    @include media-breakpoint-down(sm) {
      margin: 0 0 30px 0;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      @include media-breakpoint-down(sm) {
        margin-bottom: 0;
      }
    }

    a {
      color: $white;
      font-size: 15px;

      @include media-breakpoint-down(sm) {
        font-size: 30px;
      }

      &:hover {
        color: #DB3C6A;
      }
    }
  }
}
.menu-icon-box {
  display: none;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 19px;

  @include media-breakpoint-down(sm) {
    display: flex;
  }

  &.open {

    .icon-menu {
      width: 30px;
      transform: rotate(135deg);

      &:after{
        width: 0;
        transition: $transition;
      }

      &:before {
        width: 30px;
        top: 0;
        transition: $transition;
        transform: rotate(-90deg);
      }
    }
  }
}

.icon-menu {
  position: relative;
  width: 25px;
  height: 2px;
  background: $white;
  z-index: 11;

  &:before,
  &:after {
    content: '';
    height: 2px;
    width: 20px;
    position: absolute;
    left: 0;
    background: $white;
    transition: $transition;
  }

  &:before {
    top: -5px;
  }


  &:after {
    bottom: -5px;
  }
}
