@import "../../../node_modules/slick-carousel/slick/slick.scss";
@import "../../../node_modules/slick-carousel/slick/slick-theme.scss";

.slider {
  padding: 85px 130px 50px;
  background-color: #FBFAF4;
  margin: 0 -50px;
  width: calc(100% + 100px);
  counter-reset: active;
  position: relative;
  margin-bottom: 30px;

  .slide {
    line-height: 30px;
    font-size: 20px;
    color: #2B2B2B;
  }

  img {
    height: auto;
  }

  .slick-dots {
    display: flex;
    bottom: auto;
    top: 60px;
    left: 130px;
    right: 130px;
    width: auto;
    padding-right: 40px;
    counter-reset: last active;

    &:after {
      position: absolute;
      top: -6px;
      font-size: 12px;
      line-height: 13px;
      color: #2B2B2B;
      opacity: 0.5;
      right:0;
      content: counter(active)" / "counter(last);
    }

    li {
      flex-basis: 0;
      flex-grow: 1;
      min-width: 1px;
      counter-increment: active last;
      height: auto;
      position: static;
      margin: 0;

      button:before {
        display: none;
      }

      button {
        padding: 0;
        height: 5px;
        width: 100%;
        position: relative;

        &:after {
          position: absolute;
          content: '';
          height: 5px;
          border: 1px solid $primary;
          background-color: $primary;
          width: calc(100% - 4px);
          top: 0;
          left: 0;
          transition: $transition;
        }
      }

      &:last-child {
        button {
          &:after {
            width: calc(100%);
          }
        }
      }

      &.slick-active {
        & ~ li {
          counter-increment: last;

          button {
            &:after {
              background-color: transparent;
            }
          }
        }
      }
    }
  }

  .slick-arrow {
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    transition: $transition;
    padding: 0 13px;
    left: auto;
    right: auto;
    top: calc(50% - 25px);
    transform: none;

    background-color: #C5C5C5;
    border-radius: 4px;

    i {
      font-size: 24px;
      color: #fff;
    }

    &:hover {
      background-color: $primary;
    }

    &:before {
      display: none;
    }

    &.slick-next {
      right: 30px;
    }

    &.slick-prev {
      left: 30px;
    }
  }

  iframe,
  img {
    margin: 0!important;
    width: 100% !important;
  }

  @media (max-width: 767px) {
    margin: 0 -15px 30px;
    width: calc(100% + 30px);
    padding: 100px 0 40px;

    &__text {
      margin: 20px 0;
      padding: 0 20px;
    }

    .slick-arrow {
      top: 30px;
      width: 30px;
      height: 30px;
      padding: 0 3px;

      i {
        font-size: 18px;
      }

      &.slick-next {
        right: 15px;
      }

      &.slick-prev {
        left: 15px;
      }
    }

    .slick-dots {
      top: 65px;
      left: 15px;
      right: 15px;
      padding-right: 0;

      &:after {
        top: -26px;
        right: 50%;
        transform: translateX(50%);
      }
    }
  }
}
