.social {
  display: flex;
  align-items: center;

  &__link {
    color: $white;
    font-size: 18px;
    margin-left: 15px;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      color: #DB3C6A;
    }
  }
}