@import "bootstrap-vars";

//fonts

$base-font: "Gilroy";
$secondary-font: "Rubik", sans-serif;
$third-font: "comic", serif;

//colors

$dark: #000;
$white: #fff;
$light-gray-bg: #6C6C6C;
$light: #F2F3F5;
$dark-gray: #212121;
$text-color: #464643;
$text-secondary: #02324c;
$text-light: #c4c4c4;
$hover-color: #f5a719;

$primary: #20b1aa;
$primary-light: #fbfaf4;
$secondary: #dcf5e8;
$red: #e83d3a;

//animation

$transition: all 0.3s;
