@import "slider-index";
@import "about";
@import "services";
@import "team";
@import "testimonials";
@import "news";
@import "write_our";

.home {
  main {
    overflow: hidden;

    @include media-breakpoint-down(md) {
      overflow: visible;
    }

    .title {
      margin-bottom: 50px;

      @include media-breakpoint-down(md) {
        margin-bottom: 20px;
      }
    }
  }
}