.about-section {
  position: relative;

  .absolute-block {
    top: 50%;
    left: -13vw;
    transform: rotate(-90deg);

    @media screen and (max-width: 1700px){
      left: -15vw;
    }

    @media screen and (max-width: 1500px){
      left: -18vw;
    }

    @media screen and (max-width: 1300px){
      left: -19vw;
    }

    @media screen and (max-width: 1200px){
      left: -23vw;
    }
  }
}

.about {
  max-width: 450px;

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $text-color;
    max-width: 350px;
  }

  &__text {
    max-width: 350px;
    margin-top: 20px;

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 150%;
      color: $text-color;
    }
  }
}

.about-slider {
  position: relative;
  height: 100%;
  max-width: 500px;

  .slick-arrow {
    position: absolute;
    top: auto;
    bottom: 0;

    @include media-breakpoint-down(sm) {
      display: none!important;
    }

    &:before {
      font-size: 45px;
    }
  }

  .slick-prev {
    right: 50px;
    left: auto;
  }
}