.news-home {
  position: relative;

  .absolute-block {
    top: -30%;
    left: -24vw;
    transform: rotate(-90deg)
  }
}

.news {
  display: flex;
  margin-bottom: 20px;

  @include media-breakpoint-down(md) {
    display: block;
  }

  &:hover {
     .news__img {
       -webkit-filter: none;
       -moz-filter: none;
       -ms-filter: none;
       -o-filter: none;
       filter: none;
       filter: none; /* IE 6-9 */
     }
  }

  &__img {
    min-width: 120px;
    height: 150px;
    transition: $transition;
    margin-right: 15px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */

    img {
      height: auto;
      max-height: 100%;
    }
  }

  &__title {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $text-color;
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    color: $text-color;

    p {
      @include textOverflowMultiLine(24px, 4)
    }
  }
}

//all news page

.all-news {
  .news {
    margin-bottom: 40px;
    border-radius: 20px;
    background: $white;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    align-items: center;
    transition: $transition;

    &:hover {
      box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }

    &__title {
      margin-bottom: 15px;
    }

    &__img {
      -webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none;
      -o-filter: none;
      filter: none;
      filter: none; /* IE 6-9 */
      margin-right: 0;
      padding-left: 0;
      height: 100%;

      img {
        border-radius: 20px 0 0 20px;
        width: 100%;
      }
    }
  }

  .news-text {
    padding: 15px 20px;
  }
}