.services {
  border-radius: 20px;
  background: $white;
  padding: 40px 20px;
  margin-bottom: 30px;

  &__icon {
    margin-right: 15px;
  }

  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: capitalize;
  }

  &__list {
    li {
      display: flex;
      align-items: flex-start;

      &:before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 6px 10px 0 0;
        background: $light;
        border-radius: 5px;
      }
    }
  }
}