.index-slider {
  @include media-breakpoint-down(sm) {
    display: none;
  }

  &.slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  &__item {
    position: relative;

    img {
      width: 100%;
    }
  }

  .slick-dots {
    position: absolute;
    top: 50%;
    bottom: auto;
    right: 0;
    width: 50px;
    transform: translateY(-50%);

    li {
      display: block;

      &.slick-active {
        button {
          background: $light;
        }
      }

      button {
        width: 10px;
        height: 10px;
        background: $text-color;
        border-radius: 10px;

        &:before {
          display: none;
        }
      }
    }
  }
}

.index-slider-text {
  position: absolute;
  top: 50%;
  left: 19%;
  transform: translateY(-50%);
  max-width: 500px;

  &__btn {
    display: inline-block;
    margin-top: 30px;

    @include media-breakpoint-down(md) {
      margin-top: 10px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 5px;
    }
  }

  .title {
    color: $text-color;
    text-align: left;

    @include media-breakpoint-down(md) {
      font-size: 30px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 20px;
      line-height: 120%;
    }
  }
}