.team-section {
  .desc {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    color: $text-color;
    max-width: 750px;
    text-transform: none;
    margin: auto;
  }

  .slick-list {
    padding: 0 !important;
  }
}

.team-slider {
  max-width: 1000px;
  height: 330px;
  margin: 50px auto;
  padding: 0 50px;

  .slick-active.slick-center {

    .team-slider-text {
      opacity: 1;
      transition: $transition;

      .team-slider__desc {
        p {
          opacity: 1;
          transition: $transition;
        }
      }
    }

    .team-slider__img {
      img {
        padding: 0;
        transition: $transition;
      }
    }
  }

  .slick-arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $white;
    line-height: 20px;
    top: 40%;
    z-index: 10;

    &:before {
      font-size: 30px;
      color: $text-color;
    }
  }

  .slick-prev {
    left: 50px;
  }

  .slick-next {
    right: 50px;
  }

  &__item {
    text-align: center;
    transition: $transition;
  }

  &__img {
    img {
      width: 250px;
      height: 250px;
      object-fit: cover;
      overflow: hidden;
      border-radius: 50%;
      margin: auto;
      padding: 20px;
      transition: $transition;
    }
  }

  &__name {
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $text-color;
    margin-top: 20px;
  }

  &__desc {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 14px;
    color: $text-color;
  }

  .team-slider-text {
    opacity: 0;
    transition: $transition;

    .team-slider__desc {
      p {
        opacity: 0;
      }
    }
  }
}
