.testimonials-section {
  padding-bottom: 0;
}

.testimonials-content {
  padding: 100px 0;
  background: {
    size: cover;
    repeat: no-repeat;
    position: top center;
  };
}

.testimonials-slider {
  position: relative;
  max-width: 890px;
  border-radius: 10px;
  background: $white;

  .slick-arrow {
    top: auto;
    bottom: 15px;

    &:before {
      font-size: 30px;
      color: $text-color;
    }
  }

  .slick-prev {
    right: 100px;
    left: auto;
  }

  .slick-next {
    right: 50px;
  }
}
.testimonials {

  &__img {
    margin-right: 15px;
  }

  &__name {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $text-color;
  }

  &__date {
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $text-color;
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    color: $text-color;
  }
}

.testimonials-top {
  display: flex;
  margin-bottom: 20px;
}
