.write-our-section {
  position: relative;
  overflow: hidden;
  padding-bottom: 120px;
background: #dcdcdc;
  .absolute-block {
    width: 100%;
    bottom: -8vw;
    left: 0;
    text-align: center;
  }

  .desc {
    text-align: center;
  }

  .title {
    margin-bottom: 10px !important;
  }
}

.write-our {
  padding: 30px 30px 0 30px;
  background: $white;
  box-shadow: 0 0 30px rgba(70, 70, 67, 0.2);
  border-radius: 20px;
  margin-top: 20px;

  .textarea {
    width: 100%;
    margin-top: 30px;
  }

  .input {
    @include media-breakpoint-down(sm) {
      margin: 0 0 20px 0;
    }
  }

  .textarea {
    @include media-breakpoint-down(sm) {
      margin: 0;
    }
  }
}

.input,
.textarea {
  width: 100%;
  background: $light;
  border-radius: 20px;
  border: 1px solid $light;
  padding: 10px 10px 10px 15px;
}