.map {
  position: relative;

  iframe {
    vertical-align: top;
  }
}

.contact-info {
  position: absolute;
  top: 50%;
  left: 20vw;
  padding: 40px;
  background: rgba(0,0,0, 0.7);
  border-radius: 10px;
  transform: translateY(-50%);

  @include media-breakpoint-down(sm) {
    position: relative;
    top: 0;
    left: 0;
    transform: translateY(0%);
    width: 90%;
    margin: 50px auto;
  }

  .tel {
    margin-top: 15px;
  }

  .tel a,
  .address__text {
    color: $white;
  }
}

.contact-social {
  margin-top: 100px;

  .social {
    margin-top: 15px;
    justify-content: center;
  }

  .social__link {
    color: $text-color;
    font-size: 40px;

    &:hover {
      color: $red;
    }
  }
}

.section-testimonials {
  .button {
    @extend .btn-action;
  }

  input {
    @extend .input;
  }

  textarea {
    @extend .textarea;
  }
}