/*-- Services section home page start --*/
.services-section {
  position: relative;

  .absolute-block {
    top: 60%;
    right: -20vw;
    transform: rotate(-90deg);
  }
}
/*--- Services section home page end ---*/

.services {
  display: block;
  border-radius: 20px;
  background: $white;
  box-shadow: 0 0 11px rgba(0,0,0,0.2);
  transition: $transition;
  position: relative;

  &__title {
    color: $text-color;
    @include textOverflowMultiLine(24px, 2);
  }

  &__icon {
    width: 70px;
  }

  &__list {
    p {
      @include textOverflowMultiLine(27px, 6);
      margin: 0;
    }
  }
}

.services-container {
  .services {
    &__head {
      margin-bottom: 0;
    }

    &__list {
      position: absolute;
      left: 0;
      top: -50%;
      opacity: 0;
      transition: $transition;
      border-radius: 0 0 20px 20px;
      background: $white;
      padding: 20px;
      box-shadow: 0 12px 11px rgba(0,0,0,0.2);
      z-index: -10;
      
      li {

        &:last-child {
          &:before {
            display: none;
          }
        }

        .btn {
          margin-top: 20px;
          text-align: center;
        }
      }
    }

    &:hover {
      .services__list {
        top:75%;
        opacity: 1;
        z-index: 10;
      }
    }
  }
}

.single-news-container {
  .services {
    display: block;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    padding: 0;
    margin-bottom: 0;
  }
}