.team {
  text-align: center;
  margin-bottom: 20px;

  &__img {
     img {
       width: 250px;
       height: 250px;
       object-fit: cover;
       overflow: hidden;
       border-radius: 50%;
       margin: auto;
       padding: 20px;
       transition: all 0.3s;
     }
  }

  &__name {
    text-transform: uppercase;
    color: $text-color;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  &__position {
    p {
      font-size: 15px;
      color: $text-light;
      text-align: center;}
  }
}